/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


  /* Success Snackbar */
  .success-snackbar {
    background-color: #4CAF50; /* Green background color */
  }
  
  /* Error Snackbar */
  .error-snackbar {
    background-color: #F44336; /* Red background color */
  }
  
  .custom-snackbar-action {
    color: #ffffff; /* White color for the action text */
  }