<button type="button" class="btn close" style="float: right;" (click)="onCloseClick()">
    <i class="fa-solid fa-xmark"></i>
  </button>
<h1>Create New Screen</h1>

<label for="">Screen Name</label>
<input type="text" class="form-control input-fields" style="width: 40%;">

<label for="">Screen description</label>
<textarea class="form-control input-fields" id="exampleFormControlTextarea1" rows="3"></textarea>


<h1 class="input-fields">Available Actions</h1>
<div style="display: flex;">
    <input type="checkbox" class="form-check-input" style="margin-right: 5px;">
    <label for="" class="checkbox-style">Create</label>
    <input type="checkbox" class="form-check-input" style="margin-right: 5px;">
    <label for="" class="checkbox-style">Read</label>
    <input type="checkbox" class="form-check-input" style="margin-right: 5px;">
    <label for="" class="checkbox-style">Approve</label>
    <input type="checkbox" class="form-check-input" style="margin-right: 5px;">
    <label for="" class="checkbox-style">Expot</label>
</div>

<div style="display: flex;">
    <input type="checkbox" class="form-check-input" style="margin-right: 5px;">
    <label for="" class="checkbox-style">Updare</label>
    <input type="checkbox" class="form-check-input" style="margin-right: 5px;">
    <label for="" class="checkbox-style">Delete</label>
    <input type="checkbox" class="form-check-input" style="margin-right: 5px;">
    <label for="" class="checkbox-style">Publish</label>
    <input type="checkbox" class="form-check-input" style="margin-right: 5px;">
    <label for="" class="checkbox-style">Reject</label>
</div>

<div class="row">
    <h1>Screen Status</h1>
    <div style="display: flex;">
        <input type="radio">
        <label for="" style="margin-right: 5px;">Active</label>
        <input type="radio">
        <label for="">Inactive</label>
    </div>
    
</div>

<footer>
    <div style="float: right;">
        <button class="btn btn-primary" style="margin-right:5px;">Create New Screen</button>
        <button class="btn btn-primary">Cancel</button>
    </div>
    
</footer>